.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.submit-btn{
  padding: 10px 20px;
  border: 1px solid rgb(138, 124, 124);
  border-radius: 4px;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
